<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <style>
    /* Aquí puedes agregar tu CSS personalizado si lo necesitas */
  </style>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg text-center">
    <h1 class="text-3xl font-bold text-fuchsia-400 mb-4">¡Tu registro ha sido completado con éxito!</h1>
    <p class="px-16 mb-6 text-balance">¡Estás a un paso de sumarte a una gran red de cuidadoras! Nos comunicaremos contigo dentro de los próximos 5 días hábiles. </p>
    
        <p class="px-16 mb-6 text-balance">Poppins te permite encontrar oportunidades de trabajos que se ajusten a tus habilidades, experiencia y requisitos. Contamos con un equipo experto en el área de cuidado dispuesto a ayudarte a encontrar un trabajo fantástico una vez que ingreses a la red. Para conocer más de nuestros servicios de capacitación, explora nuestro perfil.</p>
        

        <div class="flex justify-center space-x-4">
      <a href="/" class="bg-fuchsia-400 text-white font-bold py-2 px-4 rounded-md hover:bg-fuchsia-500 transition duration-300">Ir a Inicio</a>
    </div>
  </div>
</body>
</html>